extends layout
block append scripts
    script(src='/javascripts/controllers/task.js')
block content
    .container(ng-controller="TaskListCtrl")
        #myModal.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
            .modal-header
                button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
                h3#myModalLabel Modal header
            .modal-body
                input.update-input(type="text",name="content",value='\{\{todo.content\}\}')
            .modal-footer
                button.btn(data-dismiss="modal",aria-hidden="true") Close
                button.btn.btn-primary Save changes

        .span12
            h1#page-title= title
            #list
                form(action="/create",method="post",accept-charset="utf-8")
                    .item-new
                        input.input(type="text",name="content")
                ul
                    li.item(ng-repeat="todo in todos")
                        a(href="#myModal",onclick='alert({{todo}})',role="button",data-toggle="modal",title="Update this todo item"){{todo.content}}
                        a(href="/destroy/{{todo._id}}" ,title="Delete this todo item")
                            i.icon-remove.icon-white
                            |Delete
