extends layout
block append scripts
    script(src='/javascripts/controllers/task.js')
block content
    .container(ng-controller="TaskListCtrl")
        #myModal.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
            .modal-header
                button.close(type="button",data-dismiss="modal",aria-hidden="true") ×
                h3#myModalLabel Modal header
            .modal-body
                input.update-input(type="text",name="content", ng-model="currenttodo.content",required)
                span.error(ng-show="myModal.content.$error.required") Required!
                br
            .modal-footer
                button.btn.btn-primary(ng-click='update(currenttodo);',data-dismiss="modal",aria-hidden="true") Save changes
        .span12
            h1#page-title= title
            #list
                .item-new
                    input.input(type="text",name="content",ng-model="additem.content")
                    a(href="#nogo",ng-click='create(additem);',title="add this todo item")
                        i.icon-ok
                ul
                    li.item(ng-repeat="todo in todos")
                        a(href="#myModal",ng-click='setedit(todo);',role="button",data-toggle="modal",title="Update this todo item"){{todo.content}}
                        a(href="#nogo",,ng-click='destroy(todo._id);' ,title="Delete this todo item")
                            i.icon-remove
