head
    title= title
    block stylesheets
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    block scripts
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/angular.min.js')
